.select{
    height: 39px;
    border: none;
    outline: none;
    cursor: pointer;
}
.modalSelect{
    width: 100%;
    background: white;
}
.filter{
    width: 150px;
    background: #CCCDDD;
}
option{
    font-family: 'Mulish', sans-serif;
}
@media screen and (max-width: 700px){
    .filterSelect option{
        font-size: 13px;
        margin-right: 70px;
    }
    .filterSelect{
        width: 140px;
        height: 45px;
        font-size: 13px;
    }
}