.App{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}
h1{
    color: #64667F;
    margin-bottom: 50px;
}
.addTaskConfig{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 700px){
    .App{
        width: 95%;
    }
}